* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  transition: 25ms;
}
.App {
  height: 100vh;
  display: flex;
  width: 100%;
  background: url(./Asset/luca-bravo-O453M2Liufs-unsplash.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.534);
}
.display {
  display: block;
}
.displayNone {
  display: none;
}
.Auth {
  color: #ffffff;
  width: 600px;
  padding: 60px;
  margin: auto;
}
.change-button {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 50px;
  position: relative;
  margin-bottom: 5%;
}
.change-button div:nth-child(1) {
  padding-right: 60px;
  position: absolute;
  left: 10%;
  padding-right: 10px;
  border: 1px solid rgb(0, 0, 0);
}
.change-button .log {
  background-color: aqua;
  clip-path: polygon(0 0, 44% 0, 100% 100%, 0% 100%);
  z-index: 5;
}

.change-button .signIn {
  background-color: aqua;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 56% 100%);
}
.change-button .NOTlog {
  background-color: rgba(0, 255, 255, 0);
}

.change-button .NOTsignIn {
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}
.change-button div:nth-child(2) {
  position: absolute;
  left: 45%;
  border: 1px solid rgb(0, 0, 0);

  padding-left: 60px;
}
.change-button div {
  cursor: pointer;

  padding: 10px;
  width: 150px;

  height: 50px;
}

input {
  position: relative;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: #ffffff solid 1px;
  margin-top: 15px;
  background: none;
  margin: 12px 0;
}
input:focus {
  border: none;
}
input::placeholder {
  font-size: 1px;
}
.label {
  display: flex;
  justify-content: space-between;
}

.err {
  display: none;
  color: red;
}
input:invalid[focused="true"] ~ .err {
  display: block !important;
}
.button {
  display: flex;
  width: 100%;
  justify-content: center;
}
.button button {
  padding: 10px;
  border: none;
  margin-top: 40px;
  border-radius: 5px;
  background-color: aqua;
}
.or h5 {
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  margin: 60px auto;
  text-align: center;
}
.links {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links img {
  width: 60px;
  object-fit: cover;
  cursor: pointer;
}
